.DS_Store
.autosession.vim
git/cheat-sheet/git-class-cheat-sheet.aux
git/cheat-sheet/git-class-cheat-sheet.log
git/cheat-sheet/git-class-cheat-sheet.pdf
git/cheat-sheet/git-class-cheat-sheet.synctex.gz
